.wrapper {
	margin: 0 auto;
	max-width: 46rem;
}

.wrapper form {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 0.5rem;
	margin-top: -1.625rem;
}

.wrapper form input {
	flex: 1;
	padding: 1rem;
	height: 3.25rem;
	border: 0;
	border-radius: 8px;
	box-shadow: 0 0 0 1px var(--gray-700);
	background-color: var(--gray-500);
}

.wrapper form input::placeholder {
	color: var(--gray-300);
}

.wrapper form input:focus {
	box-shadow: 0 0 0 2px var(--purple-dark);
}

.wrapper form button[type="submit"] {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 0.5rem;
	padding: 0 1rem;
	height: 3.25rem;
	border: 0;
	border-radius: 8px;
	background-color: var(--blue-dark);
	transition: background-color 200ms;
}

.wrapper form button[type="submit"] span {
	font-weight: 700;
	font-size: 0.875rem;
	line-height: 1.4;
}

.wrapper form button[type="submit"]:hover {
	background-color: var(--blue);
}
