.tasks-container {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
}

.tasks-container header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tasks-container header div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 0.5rem;
}

.tasks-container header div strong {
	font-weight: 700;
	font-size: 0.875rem;
}

.tasks-container header div:first-child strong {
	color: var(--blue);
}

.tasks-container header div:last-child strong {
	color: var(--purple);
}

.tasks-container header div span {
	padding: 0.125rem 0.5rem;
	border-radius: 999px;
	font-weight: 700;
	font-size: 0.75rem;
	background-color: var(--gray-400);
	color: var(--gray-200);
}

.tasks {
	display: flex;
	flex-direction: column;
	row-gap: 0.75rem;
}
